* {
  font-family: sans-serif;
}
body {
  margin: 0px;
}

#empty-bag {
  display: none;
  width: 40%;
  margin: auto;
  text-align: center;
}
#empty-bag > img {
  width: 30%;
}
#empty-bag > p {
  font-family: montserrat, sans-serif;
  font-size: 20px;
}
#empty-bag > button {
  background-color: white;
  border: 2px solid #67cecd;
  color: #67cecd;
  font-size: 20px;
  font-family: montserrat, sans-serif;
  padding: 10px;
  border-radius: 6px;
}
#second {
  margin-top: 20px;
}
#left-div {
  width: 50%;
}
/* main starts here */
#main {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
}
#items {
  width: 100%;
}
#box {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid #d8dddc;
}
#second {
  padding: 10px 15px 15px 15px;
  border: 1px solid #c4c7c7;
  border-radius: 5px;
  width: 100%;
}
#prices {
  width: 67%;
}
#prices > p {
  color: #333e45;
}
#img-div {
  width: 30%;
  text-align: end;
}
#img-div > img {
  width: 45%;
}
#second > button {
  border: none;
  margin-top: 5px;
  padding: 10px 60px;
  font-size: 17px;
  font-family: montserrat, sans-serif;
  cursor: pointer;
  margin-left: 35%;
}
#detail-div {
  width: 42%;
  margin-left: 5%;
  margin-top: 5%;
}
.discount {
  width: 100%;
  border: 1px solid rgb(180, 179, 179);
  border-radius: 5px;
  margin-top: 20px;
  padding: -10px;
}
.code {
  font-family: montserrat, sans-serif;
  font-size: 15px;
  color: #5e6264;
  line-height: 22px;
  padding: 0px 15px;
}
#price-div {
  width: 100%;
  border: 1px solid #dedcdc;
}
#redeem-div {
  display: flex;
  justify-content: space-between;
  background-color: #ecf6f5;
  padding: -8px;
  margin: 4px;
  border-radius: 8px;
}
#redeem-div > p:nth-child(1) {
  color: #4fa4a3;
  font-family: montserrat, sans-serif;
  font-size: 13px;
  margin-left: 10px;
}
#rd {
  color: #4fa4a3;
  font-family: montserrat, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-right: 15px;
}
#prs {
  background-color: #f5f5f5;
  padding: 2px 0px;
  border-top: 2px solid #eaeaea;
}
#prs > p {
  font-family: montserrat, sans-serif;
  font-size: 13px;
  font-weight: bolder;
  margin-left: 13px;
}
.price {
  display: flex;
  justify-content: space-between;
}
.price > p {
  margin-left: 15px;
  margin-right: 18px;
  font-family: montserrat, sans-serif;
  font-size: 13px;
}
#price-div {
  margin-top: 15px;
}
#free {
  color: #2b9355;
  font-family: montserrat, sans-serif;
}
#saving-div {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  height: 28px;
  align-items: center;
  background-color: #e8f3e5;
  border-radius: 25px;
}
#saving-div > p {
  font-family: montserrat, sans-serif;
  font-size: 13px;
  margin-left: 15px;
  color: #2b9355;
}
#last-div {
  display: flex;
  border-top: 2px solid #eaeaea;
  margin-top: 7%;
  padding: 13px;
  justify-content: space-between;
}
#address {
  display: block;
  width: 55%;
  border: none;
  background-color: #4fa4a3;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  font-family: montserrat, sans-serif;
}
#continue {
  display: none;
  width: 55%;
  border: none;
  background-color: #4fa4a3;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  font-family: montserrat, sans-serif;
}
#finish {
  margin-top: -10px;
  margin-left: 1px;
  font-family: montserrat, sans-serif;
}
#span-price {
  margin-top: -15px;
  margin-bottom: 2px;
}
#top {
  display: flex;
  width: 105%;
  height: 50px;
  background-color: #fcffee;
  align-items: center;
}
#top > img {
  margin-left: 3%;
  width: 20%;
  height: 13px;
}
#top > p {
  font-family: montserrat, sans-serif;
  font-size: 12px;
  margin-left: 2%;
}
.quantity-div {
  display: flex;
  align-items: center;
}

.quantity-div button {
  background-color: #4fa4a3;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

.quantity-div span {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}
