#NAV3 {
  height: 110px;
  background-color: white;
  position: sticky;
  top: 1px;
  z-index: 1;
}
#nav3 {
  padding-top: 80px;
  padding-bottom: 7px;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  max-width: 1300px;
  justify-content: space-between;
  margin: auto;
  font-size: 0.8rem;
  background-color: white;
}
.hello {
  height: 300px;
  background-color: rebeccapurple;
}
/* first tile */
#first_tile {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  flex-wrap: nowrap;
}
#first_tile img {
  width: 36vw;
}
/* Second tile */
#second_tile {
  display: flex;
  /* width: 1200px; */
  /* overflow: visible; */
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
#second_tile div {
  /* min-width: 50px; */
  max-width: 8rem;
  text-align: center;
}
#second_tile div img {
  width: 100%;
}
#second_tile p {
  font-size: 0.8rem;
}
/* Third tile */
.headings {
  text-align: center;
  margin: 10px;
  font-size: 1.4rem;
  /* margin-bottom: 3px; */
}
#third_tile {
  display: flex;
  margin-left: 1px;
}

#third_tile div {
  width: 50vw;
}
#third_tile img {
  width: 100%;
}

.forth_tile {
  width: 100%;
}
.forth_tile img {
  width: 100%;
}

#fifth_tile,
#seventh_tile {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
#fifth_tile img,
#seventh_tile img {
  width: 100%;
}

.sixth_tile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4px;
}
.sixth_tile img {
  width: 100%;
}
#eight_tile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4px;
}
#eight_tile img {
  width: 100%;
}
#top_accesories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#top_accesories img {
  width: 100%;
}
#footer_homepage {
  background-color: #181818;
}
@media screen and (width<900px) {
  #NAV3 {
    height: 58px;
  }
  #nav3 {
    display: none;
  }
}
